# Server Configuration
NODE_ENV=development
PORT=5000

# JWT Configuration
JWT_SECRET=CERTANA_SESSION_SECRET_STRING
JWT_EXPIRES_IN=1h

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=certana
DB_USER=postgres
DB_PASSWORD=postgres

# Logging
LOG_LEVEL=info